MYSQL_ROOT_PASSWORD=local-root-password
MYSQL_REPLICATION_PASSWORD=local-replication-password
MYSQL_REPLICA_READ_PASSWORD=local-reader-password

DB_URL=jdbc:mysql://localhost:3307/startup_app?useSSL=false&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=local-root-password
DB_REPLICA_URL=jdbc:mysql://localhost:3308/startup_app?useSSL=false&allowPublicKeyRetrieval=true
DB_REPLICA_USERNAME=report_reader
DB_REPLICA_PASSWORD=local-reader-password

REDIS_ENABLED=true
REDIS_HOST=localhost
REDIS_PORT=6379
